@model AddPasswordViewModel

<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 col-xs-12 greenCard">
        <h2><span class="main-text-color main-bold-text-style">Add Password</span></h2>
        <hr />
        <p>
            <span class="main-text-color main-bold-text-style">
                You have used an external account to login and do not have a local username/password.
                Simply set a new password if you want to login using a local account. Use your email
                as the username.
            </span>
        </p>
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword" class="main-text-color main-bold-text-style"></label>
                <input asp-for="NewPassword" class="form-control loginInput" placeholder="Enter new password" name="NewPassword" />
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="main-text-color main-bold-text-style"></label>
                <input asp-for="ConfirmPassword" class="form-control loginInput" placeholder="Confirm new password" name="ConfirmPassword" />
            </div>
            <button type="submit" class="btn btn-primary mainButton">Set Password</button>
        </form>
    </div>
</div>