<div class="row justify-content-center">
    <div class="col-12 col-lx-6 col-lg-6 col-md-12 col-sm-12 main-content-container text-left pl-3 pr-3 pl-md-5 pr-md-5">
        <div class="text-center pt-4 pb-4">
            <h2 class="huge-text">Your account name has been changed successfully!</h2>
            <h3 class="very-small-shaded-text"> <a asp-controller="home" asp-action="userpanelrecipes">Click here</a> to continue on user panel.</h3>
        </div>
    </div>
</div>
