@model ForgotPasswordViewModel

    <div class="row justify-content-center">
        <div class="col-12 col-lx-6 col-lg-6 col-md-12 col-sm-12 main-content-container text-left pl-3 pr-3 pl-md-5 pr-md-5">
            <div class="text-left pt-4">
                <h2 class="huge-text">FORGOT PASSWORD</h2>
            </div>
            <form method="post">
                <label asp-for="Email" class="normal-text"></label>
                <input type="text" asp-for="Email" class="form-control loginInput form-controlloginInput" placeholder="Enter email address..." name="Email" />
                <div class="row justify-content-center m-3">
                    <button type="submit" class="btn btn-primary main-button">SUBMIT</button>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
            <div class="m-4"></div>
        </div>
    </div>