@model  ResetPasswordViewModel

    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-12 main-content-container text-left pl-4 pr-4 pl-lg-5 pr-lg-5 pl-md-5 pr-md-5 mb-3 mb-sm-5 mb-md-2 mb-lg-2  mb-xl-2">
            <div class="text-left pt-4">
                <h2 class="huge-text">Reset password</h2>
            </div>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Token" type="hidden" />
                <input asp-for="Email" type="hidden" />
                <div class="form-group">
                    <label asp-for="Password" class="normal-text"></label>
                    <input asp-for="Password" class="form-control loginInput" placeholder="Enter new password..." name="Password" />
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="normal-text"></label>
                    <input asp-for="ConfirmPassword" class="form-control loginInput" placeholder="Confirm new password..." name="ConfirmPassword" />
                </div>
                <button type="submit" class="bnt main-button">Reset</button>
            </form>
            <div class="m-4"></div>
        </div>
    </div>