@model RecipeEditViewModel
@{
    var photoPath = "~/images/" + (Model.ExistingPhotoPath ?? "leczo.jpg");
    ViewBag.Title = "Recipe Details";
}
<div class="row text-center" style="margin-top:30px">
    <div class="col">
        <h1 class="main-bold-text-style main-text-color">Edit recipe</h1>
    </div>
</div>
<div class="row justify-content-center text-center">
    <div class="col-8 squareElement text-center">
        <form enctype="multipart/form-data" asp-controller="Home" asp-action="edit" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="AuthorId" />
            <input hidden asp-for="EncryptedId" />
            <input hidden asp-for="ExistingPhotoPath" />

            <div>
                <label asp-for="Name" class="main-normal-text-style main-text-color"></label>
                <input asp-for="Name" name="Name" autocomplete="off" class="second-normal-text-style" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="Hint" class="main-normal-text-style main-text-color"></label>
                <textarea asp-for="Hint" name="Hint" autocomplete="off" class="second-normal-text-style"> </textarea>
                <span class="text-danger" asp-validation-for="Hint"></span>
            </div>
            <div>
                <label asp-for="Description" class="main-normal-text-style main-text-color"></label>
                <textarea asp-for="Description" name="Description" autocomplete="off" class="second-normal-text-style"> </textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>

            <div class="row">
                <div class="col-6">
                    <label asp-for="Ingridients" class="main-normal-text-style main-text-color"></label>
                    <div id="allIngridients">
                        @foreach (var ingridient in Model.Ingridients)
                        {
                            <div id="ingridientForm">
                                <input asp-for="Ingridients" name="Ingridients" autocomplete="off" class="second-normal-text-style" value="@ingridient" />
                                <span class="text-danger" asp-validation-for="Ingridients"></span>
                            </div>
                        }
                    </div>
                    <div id="ingridientsInfo"> </div>
                    <button onclick="addIngridient()" type="button" class="btn btn-primary secondButton">Add Ingridient</button>
                </div>
                <div class="col-6">
                    <label asp-for="Tags" class="main-normal-text-style main-text-color"></label>
                    <div id="allTags">
                        @foreach (var tag in Model.Tags)
                        {
                            <div id="tagsForm">
                                <input asp-for="Tags" name="Tags" autocomplete="off" class="second-normal-text-style" value="@tag" />
                                <span class="text-danger" asp-validation-for="Tags"></span>
                            </div>
                        }
                    </div>
                    <div id="tagsInfo"> </div>
                    <button onclick="addTag()" type="button" class="btn btn-primary secondButton">Add tag</button>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <p><label asp-for="Time" class="main-normal-text-style main-text-color"></label></p>
                    <input asp-for="Time" name="Time" autocomplete="off" class="second-normal-text-style" />
                    <span class="text-danger" asp-validation-for="Time"></span>
                </div>
            </div>
            <div class="form-group row text-center justify-content-center">
                <div class="row photo-label" style="width:100%">
                    <label asp-for="Photo" class="col-form-label main-bold-text-style main-text-color"></label>
                </div>
                <div class="custom-file col-8">
                    <input asp-for="Photo" class="form-control custom-file-input">
                    <label class="custom-file-label photoFileInput">Choose File...</label>
                </div>
            </div>

            <div asp-validation-summary="All" class="text-danger"></div>

            <div>
                <a asp-controller="home" asp-action="userPanel" class="btn btn-primary secondButton">Back</a>
                <button type="submit" class="btn btn-primary secondButton">Update</button>
            </div>

            <script>
                currentAmountOfIngridients = @Model.Ingridients.Count;
                currentAmountOfTags = @Model.Tags.Count;
            </script>
            @*This script is required to display the selected file in the file upload element*@

            @section Scripts {
                <script>
                    $(document).ready(function () {
                        $('.custom-file-input').on("change", function () {
                            var fileName = $(this).val().split("\\").pop();
                            $(this).next('.custom-file-label').html(fileName);
                        });
                    });
                </script>
            }
        </form>
    </div>
</div>