<div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 col-xs-12 greenCard">
        <h4><span class="main-text-color main-bold-text-style">Your repotr has been send successfully</span></h4>
    </div>
</div>
